@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@font-face {
    font-family: 'main-font';
    src: url(BADABB__.TTF);
}
/* background Image */
.home-section {
  background-image: url("../../assets/landingBG4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 93vh; /* Ensures it takes the full viewport height */
  width: 100vw;
}

.short-description{
    color: whitesmoke;
    font-size: medium;
    font-family: "Doto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.main-title{
    font-family: 'main-font', sans-serif;
    letter-spacing: 5px;
    font-weight: 200;
    color:azure;
}


@media screen and (max-width: 842px) {
  .home-section-landing {
    padding-bottom: 50px !important;
  }
}

.two-logos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-logo {
  /* height: auto; */
  z-index: 6;
  position: relative;
  top: 4vw;
}

.landing-logo-outline{
  /* height: auto; */
  z-index: 5;
  position: relative;
  bottom: 9vw;
  left: 13px;
}

@media screen and (max-width: 48em) {
  .home-section{
  background-image: url("../../assets/invertedBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

  .landing-logo {
    position: relative;
    top: 27vw;
  }
  
  .landing-logo-outline{
    position: relative;
    top: 13vw;
    left: -10px;
  }
}

@media screen and (max-width: 650px) {
  .landing-logo {
    position: relative;
    top: 45vw;
  }
  
  .landing-logo-outline{
    position: relative;
    top: 30vw;
    left: -8px;
  }

}
@media screen and (max-width: 415px){
  .two-logos{
    position: relative;
    top: 13vh;
    left: 1vh;
  }
  
} 
